.startBuildingSection {
  width: 100%;
  background: var(--colors-surface-inverse);
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;

  .startBuildingContainer {
    padding: 120px 16px;
    color: var(--colors-text-inverse);
    background-image: url('/assets/dark/pattern-right.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    .startBuildingCustomSectionHeader {
      color: var(--colors-text-inverse);
    }
  }
}
