@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ixianDltSection {
  width: 100%;
  background: var(--colors-surface-02);

  .ixianDltContainer {
    padding: var(--spacing-super-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);

    .infoItems {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .dltMetrics {
      width: 100%;
      background: var(--colors-surface-02);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      position: relative;
      gap: var(--spacing-md);

      @include mq('md') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--fading-border-horizontal);
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      .insideSingle {
        width: 100%;
        padding: var(--spacing-md);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
        align-items: flex-start;

        :first-child {
          color: var(--colors-text-info);
        }

        .number {
          @include heading-md;
        }
      }
    }

    .note {
      margin-top: calc(8px - 64px);
    }
  }
}
