@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ixianDltSection {
  width: 100%;
  background: var(--colors-surface-01);
  scroll-margin-top: var(--spacing-super);

  .ixianDltContainer {
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .dltHighlights {
      width: 100%;
      max-width: 600px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;

      .singleInfo {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: var(--spacing-md);

        .texts {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        @include mq('sm') {
          flex-direction: column;
        }
      }
    }

    .infoItems {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;

      @include mq('md') {
        grid-template-columns: 1fr;
      }
    }

    .rainbowDivider {
      border-bottom: 4px solid;
      border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;
    }

    .dltMetrics {
      width: 100%;
      background: var(--colors-surface-02);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      position: relative;
      gap: var(--spacing-md);

      @include mq('md') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--fading-border-horizontal);
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      .insideSingle {
        width: 100%;
        padding: var(--spacing-md);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
        align-items: flex-start;

        :first-child {
          color: var(--colors-text-info);
        }

        .number {
          @include heading-md;
        }
      }
    }

    .note {
      margin-top: calc(8px - 64px);
    }
  }

  .noPaddingTop {
    padding-top: 0;
  }
}
