.icon {
  width: 24px;
  height: 24px;
  display: inline-block;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.primary {
  fill: var(--colors-icon-action);
}

.secondary {
  fill: var(--colors-icon-inverse);
}
