@use '@styles/mixins' as *;

.footer {
  width: 100%;
  background: var(--colors-surface-inverse);
  color: var(--colors-text-inverse);
  position: relative;
  overflow: hidden;

  .wrapper {
    padding: 40px var(--spacing-md);

    @include mq('sm') {
      padding: 24px;
    }

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-super);

      @include mq('xs') {
        flex-direction: column;
        gap: var(--spacing-md);
        gap: 40px;
      }

      .leftContent {
        width: 100%;
        max-width: 288px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: var(--spacing-sm);

        @include mq('xs') {
          max-width: unset;
        }

        .socialsContainer {
          display: flex;
          gap: 12px;
        }
      }

      .rightContent {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-xxl);

        @include mq('sm') {
          display: grid;
          gap: 40px;
          grid-template-columns: repeat(2, 1fr);
        }

        @include mq('xs') {
          justify-items: center;
        }

        .singleColumn {
          width: 100%;
          max-width: 182px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: var(--spacing-sm);

          .mainTitle {
            color: var(--colors-text-inverse-2);
            margin-bottom: 12px;
          }

          > a {
            color: var(--colors-text-inverse);
          }

          .externalLink {
            display: flex;
            align-items: center;
            gap: 4px;

            svg {
              color: var(--colors-text-inverse);
            }
          }

          @include mq('xs') {
            align-items: flex-start;
          }
        }
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background: var(--colors-outline-inverse);
      margin: 24px 0;
    }

    .copyright {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mq('sm') {
        flex-direction: column;
        gap: 12px;
      }

      > span {
        letter-spacing: 0.15rem;
      }

      .legalItems {
        display: flex;
        gap: var(--spacing-xxl);
      }
    }
  }
}
