.useCasesSection {
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--colors-surface-03) 60%,
    var(--colors-surface-inverse) 40%
  );
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;

  .useCases {
    background-image: url('/assets/dark/pattern-right.svg');
    background-position: 105% 103%;
    background-size: 40%;
    background-repeat: no-repeat;
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);

    .caseCards {
      width: 100%;
      display: flex;
      gap: var(--spacing-xxl);
    }

    .buildTogether {
      color: var(--colors-text-inverse);
    }
  }
}
