@use '@styles/mixins' as *;

.wrapperSection {
  background: var(--colors-surface-01);
  border-bottom: 1px solid var(--colors-outline-02);
  background: var(--hero-gradient);
  position: relative;

  .heroSection {
    padding: 140px var(--spacing-md);
    display: flex;

    .customSectionHeader {
      z-index: 1;
      max-width: 600px;
    }

    .chipsSpline {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      @include mq('md') {
        max-height: 500px;
      }

      > canvas {
        transform: translateX(30%);

        @include mq('md') {
          transform: translate(40%, -40%);
        }

        @include mq('xs') {
          transform: translate(40%, -50%);
        }
      }
    }
  }
}
