@use '@styles/mixins' as *;

.wrapperSection {
  border-bottom: 1px solid var(--colors-outline-02);
  background: var(--hero-gradient);
  position: relative;

  .heroSection {
    padding: 140px var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    @include mq('sm') {
      padding: 40px var(--spacing-sm);
      flex-direction: column;
      gap: 40px;

      img {
        max-width: 80%;
      }
    }

    .customSectionHeader {
      z-index: 1;
    }
  }
}
