@use '@styles/mixins' as *;

.chipsSpline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include mq('md') {
    max-height: 500px;
    display: none;
  }

  > canvas {
    position: absolute;
    top: -18%;
    right: 4%;
    width: 800px !important;
    height: 800px !important;

    @include mq('md') {
      //transform: translate(40%, -40%);
      display: none;
    }
    //
    //@include mq('xs') {
    //  transform: translate(40%, -50%);
    //}
  }
}
