.hamburgerMenu {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  .hamburgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    span {
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 2px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;

      &.open:nth-child(1) {
        transform: rotate(45deg);
      }

      &.open:nth-child(2) {
        opacity: 0;
        transform: translateX(20px);
      }

      &.open:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  .menu {
    z-index: 99999;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background: #0e1925;
    top: 68px;
    right: 0;
    left: 0;
    transform: translateY(-20px);
    width: 100%;
    position: absolute;
    padding: var(--spacing-md);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition:
      opacity 0.3s ease,
      all 0.3s ease;
    animation: none;
    border: none;

    &.open {
      opacity: 1;
      transform: translateY(0);
      animation: slideInBorder 0.3s forwards;
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px 0;
      transition: color 0.3s;
      font-size: 1.5rem;

      &:hover {
        color: #3ed3f4;
      }
    }
  }
}

@keyframes slideInBorder {
  0% {
    border-top: none;
  }
  50% {
    border-top: 1px solid #0e1925;
  }
  100% {
    border-top: 1px solid #fff;
  }
}
