@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ixiCurrencySection {
  width: 100%;
  background: var(--colors-surface-01);
  scroll-margin-top: var(--spacing-super-xl);

  .ixiCurrency {
    padding: var(--spacing-super-xl) var(--spacing-md);

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .innerCard {
      background: var(--currency-gradient);
      padding: var(--spacing-super) var(--spacing-xl);
      border-radius: var(--corner-radius-xxl);
      display: flex;
      flex-direction: column;
      gap: 80px;

      .infoCardsContainer {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('md') {
          flex-direction: column;
        }
      }

      .exchangesContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        .images {
          padding: 44px 0;
          display: flex;
          gap: 80px;

          @include mq('md') {
            flex-direction: column;
          }
        }
      }
    }
  }
}
