@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ixiCurrencySection {
  width: 100%;
  background: var(--colors-surface-01);
  scroll-margin-top: var(--spacing-super-xl);

  .ixiCurrency {
    padding: var(--spacing-super-xl) var(--spacing-md);

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .innerCard {
      padding: var(--spacing-super) var(--spacing-xl);
      border-radius: var(--corner-radius-xxl);
      display: flex;
      flex-direction: column;
      gap: 80px;
      background: var(--ixi-currency), var(--currency-gradient);
      background-position: top right;
      background-repeat: no-repeat;

      @include mq('sm') {
        padding: 40px 16px;
        gap: 40px;
        background-size: contain, auto;
        background-position:
          60px top,
          0 0;
      }

      .infoCardsContainer {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .singleCard {
          @include mq('sm') {
            padding-bottom: 32px;
          }
        }

        @include mq('md') {
          flex-direction: column;
        }
      }

      .exchangesContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
      }
    }
  }
}
