@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ixiCurrencySection {
  width: 100%;
  background: var(--colors-surface-01);

  .ixiCurrency {
    padding: var(--spacing-super-xl) var(--spacing-md);

    .innerCard {
      background: radial-gradient(
        165.4% 152.35% at 111.86% 19.02%,
        rgba(160, 240, 145, 0.105) 13.71%,
        rgba(166, 219, 238, 0.1125) 41.04%,
        rgba(20, 82, 126, 0.09) 67%,
        rgba(255, 255, 255, 0) 89.85%,
        #a6dbee1d 10%
      );

      padding: var(--spacing-super) var(--spacing-xl);
      border-radius: var(--corner-radius-xxl);
      display: flex;
      flex-direction: column;
      gap: 80px;

      .infoCardsContainer {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('md') {
          flex-direction: column;
        }
      }

      .exchangesContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        .images {
          padding: 44px 0;
          display: flex;
          gap: 80px;

          @include mq('md') {
            flex-direction: column;
          }
        }
      }
    }
  }
}
