@use '@styles/typograhphy' as *;
@use '@styles/mixins' as *;

.interactionCard {
  width: 100%;
  max-width: 288px;
  min-height: 264px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--corner-radius-xxl);
  padding: var(--spacing-3xl) var(--spacing-md) var(--spacing-md)
    var(--spacing-md);
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--colors-outline-02);

  @include mq('sm') {
    max-width: unset;
  }

  .content {
    z-index: 10;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-xxs);
    transition: all 0.5s ease-in-out;

    .icon {
      max-width: 40px;
      max-height: 40px;
      transition: all 0.3s ease-in-out;
    }

    .title {
      @include heading-xs;
      color: var(--colors-text-01);
    }

    .description {
      max-width: 40rem;
      @include body-sm;
      color: var(--colors-text-01);
    }
  }

  &:hover {
    .arrowLink {
      width: 100%;
      max-width: 40px;
      display: block;
      transform: translateY(-30px);
    }
  }

  .arrowLink {
    display: none;
  }

  &.enableHover {
    &:hover {
      background: radial-gradient(
        117.99% 141.4% at 125.55% 20.32%,
        #fff 20%,
        #3ff3ab 35.53%,
        #c2e05e 85.5%
      );
    }
  }

  &.enableHoverImage {
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      .content {
        transform: translateY(50%);

        .title,
        .description {
          color: var(--colors-text-inverse);
        }
      }

      &.access {
        background-image: url('/assets/access.svg');
      }

      &.dapps {
        background-image: url('/assets/dapps.svg');
      }

      &.enterprise {
        background-image: url('/assets/enterprise.svg');
      }

      &.iot {
        background-image: url('/assets/iot.svg');
      }
    }
  }

  &:not(.disableScale) {
    &:hover .content {
      transform: translateY(-0.5rem);
    }

    &:hover .icon {
      transform: scale(0.75);
    }
  }
}

.primary {
  background-color: var(--colors-surface-01);
}

.secondary {
  background-image: var(--pattern);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.fullWidth {
  width: 100%;
  max-width: unset;
}
