@use '@styles/typograhphy' as *;
@use '@styles/mixins' as *;

.interactionCard {
  width: 100%;
  max-width: 288px;
  min-height: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--corner-radius-xxl);
  padding: var(--spacing-3xl) var(--spacing-xl) var(--spacing-md)
    var(--spacing-xl);
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--colors-outline-02);

  @include mq('sm') {
    max-width: unset;
  }

  .content {
    z-index: 10;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-xs);
    transition: all 0.5s ease-in-out;

    .icon {
      max-width: 40px;
      max-height: 40px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 16px;
    }

    .title {
      @include heading-md;
      color: var(--colors-text-01);
    }

    .description {
      max-width: 40rem;
      @include body-sm;
      color: var(--colors-text-01);
    }
  }

  &:hover {
    .onHoverHeader {
      position: absolute;
      top: var(--spacing-xl);
      display: block;
    }
  }

  .onHoverHeader {
    width: 100%;
    display: none;

    > div {
      border-color: #fbfcfb;

      &:hover::before {
        border-color: #fbfcfb;
      }
    }
    svg {
      color: #fbfcfb;
    }
  }

  &.enableHover {
    &:hover {
      background:
        radial-gradient(
            117.99% 141.4% at 128.55% 44.32%,
            rgba(44, 234, 27, 0.8) 0%,
            rgba(159, 63, 243, 0.8) 35.53%,
            rgba(43, 244, 234, 0.8) 85.5%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
            119.7% 137.67% at -10.73% 113.07%,
            #656565 0%,
            rgba(64, 102, 160, 0.0890915) 39.41%,
            rgba(78, 104, 160, 0) 53.09%,
            #171f4b 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    }
  }

  &.enableHoverImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      .content {
        transform: translateY(50%);

        .title,
        .description {
          color: var(--colors-text-inverse);
        }
      }

      &.access {
        background-image: url('/assets/access.svg');
      }

      &.dapps {
        background-image: url('/assets/dapps.svg');
      }

      &.enterprise {
        background-image: url('/assets/enterprise.svg');
      }

      &.iot {
        background-image: url('/assets/iot.svg');
      }
    }
  }

  &:not(.disableScale) {
    &:hover .content {
      transform: translateY(-0.5rem);
    }

    &:hover .icon {
      transform: scale(0.75);
    }
  }
}

.primary {
  background-color: var(--colors-surface-01);
}

.secondary {
  background-image: var(--pattern);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.fullWidth {
  width: 100%;
  max-width: unset;
}
