@use '@styles/mixins' as *;

.getInvolvedSection {
  width: 100%;
  background: var(--colors-surface-02);
  scroll-margin-top: var(--spacing-super-xl);

  .getInvolved {
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);

    @include mq('sm') {
      padding: 100px var(--spacing-sm);
    }

    @include mq('md') {
      flex-direction: column;
    }

    .bottomRetro {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1249px;
    }

    .involvedCards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-xxl);

      @include mq('md') {
        flex-direction: column;
      }

      .singleCard {
        width: 100%;
        padding: var(--spacing-xl);
        padding-top: var(--spacing-super);
        border-radius: var(--corner-radius-lg);
        background: var(--colors-surface-01);
        border: 1px solid var(--colors-outline-02);

        &:nth-child(2) {
          padding-top: calc(var(--spacing-super) + var(--spacing-sm) + 24px);
        }

        @include mq('md') {
          max-width: unset;
        }

        .innerSection {
          .headerIcons {
            display: flex;
            gap: var(--spacing-sm);
          }
        }
      }
    }
  }
}
