@use '@styles/typograhphy' as *;
@use '@styles/mixins' as *;

.metricsSection {
  background: var(--sectionGradient);

  .metrics {
    width: 100%;
    position: relative;
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);
    align-items: flex-start;

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .patternImg {
      position: absolute;
      right: 0;
      top: 84px;
      width: 682px;
    }
  }
}
