.gitSection {
  width: 100%;
  background: var(--colors-surface-inverse);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;

  .gitSectionWrapper {
    width: 100%;
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);

    .visitGithub {
      width: 100%;
      padding: var(--spacing-xl);
      max-width: 800px;
      background: var(--colors-surface-inverse);
      border: 2px solid var(--colors-outline-02);
      border-radius: var(--corner-radius-lg);
      min-height: 112px;
      display: flex;
      gap: var(--spacing-xl);
      justify-content: space-between;
      align-items: center;

      > svg {
        color: var(--colors-icon-inverse);
      }

      &:hover {
        border-color: var(--colors-outline-action-hover);
        cursor: pointer;
      }

      .left {
        display: flex;
        gap: 24px;
        align-items: center;

        > svg {
          color: var(--colors-icon-inverse);
        }
      }
    }
  }
}
