@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.poweringIxianSection {
  width: 100%;
  background: var(--colors-surface-01);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;
  scroll-margin-top: var(--spacing-sm);

  .poweringIxian {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: var(--spacing-super-xl) var(--spacing-md);

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .resourcesContainer {
      color: var(--colors-text-inverse);
      margin-top: 40px;
      padding: var(--spacing-super) var(--spacing-xl);
      border-radius: var(--corner-radius-xxl);
      background: var(--resources-gradient);

      @include mq('sm') {
        padding: var(--spacing-xxl) var(--spacing-xl);
      }

      display: flex;
      flex-direction: column;
      gap: 40px;

      .images {
        width: 100%;
        display: flex;
        gap: 80px;

        @include mq('md') {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 24px;

          img {
            max-width: 70%;
          }
        }
      }

      .innerCards {
        border-top: 1px solid var(--colors-outline-inverse);
        padding: 64px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('sm') {
          flex-direction: column;
          padding: 32px 0;
        }

        .text {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }

        .linkCards {
          width: 100%;
          display: flex;
          gap: 32px;

          @include mq('sm') {
            flex-direction: column;
          }

          .linkCardTitle {
            @include label-lg;
          }

          .singleSmallCard {
            max-width: 272px;
            min-height: unset;
            height: 100%;
            background: var(--colors-surface-inverse-2);
            padding: 26px 16px;
            gap: 12px;
            background: #111712;
            border: 1px solid #585a59;

            @include mq('sm') {
              max-width: unset;
            }

            p,
            h3 {
              color: var(--colors-text-inverse);
            }

            div[class*='rounded'] {
              border-color: #fbfcfb;
              &:hover::before {
                border-color: #fbfcfb;
              }

              svg {
                color: #fbfcfb;
              }
            }
          }
        }
      }
    }
  }
}
