@use 'styles/mixins' as *;
@forward 'styles/tokens/_theme';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--colors-surface-02);
  color: var(--colors-text-01);
  scroll-behavior: smooth;

  //Custom theme variables
  //LIGHT
  --build: url('/assets/light/build.svg');
  --eco-spixi: url('/assets/light/eco-spixi.svg');
  --efficiency: url('/assets/light/efficiency.svg');
  --parnters: url('/assets/light/partners.svg');
  --privacy: url('/assets/light/privacy.svg');
  --spixi-eco: url('/assets/light/spixi-eco.png');
  --spixi-uc: url('/assets/light/spixi-uc.png');
  --why: url('/assets/light/why.svg');
  --spixi-bg: url('/assets/light/spixi-bg.png');
  --top-tech: url('/assets/light/top-tech.svg');
  --ixi-currency: url('/assets/light/ixi-currency.svg');
  --spixi-rotated: url('/assets/light/spixi-rotate.png');
  --partnerships: url('/assets/light/partnerships.svg');
  --hero-gradient: linear-gradient(
      112.75deg,
      #e2f6fd 2.08%,
      #f2f7ee 51.72%,
      #e9f0fb 97.54%
    ),
    linear-gradient(
      0deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
  --tech-gradient: var(--hero-gradient);
  --fading-border-horizontal: linear-gradient(
    90deg,
    #fbfcfb 0%,
    #ced4d1 23.5%,
    #c0c8c4 75.5%,
    #f2f4f3 100%
  );
  --fading-border-vertical: linear-gradient(
    180deg,
    #fbfcfb 0%,
    #ced4d1 20.5%,
    #c0c8c4 77.5%,
    #f2f4f3 98%
  );
  --cardGradient: linear-gradient(
      112.75deg,
      #e2f6fd 2.08%,
      #f2f7ee 51.72%,
      #e9f0fb 97.54%
    ),
    linear-gradient(
      0deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
  --cardGradient2: var(--cardGradient);
  --sectionGradient: linear-gradient(112.75deg, #e2f6fd 2.08%, #f2f7ee 68.42%),
    linear-gradient(
      0deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
  --currency-gradient: linear-gradient(
      112.75deg,
      #e2f6fd 2.08%,
      #f2f7ee 51.72%,
      #e9f0fb 97.54%
    ),
    linear-gradient(
      0deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
  --resources-gradient: radial-gradient(
      173.13% 177.27% at 141.29% -38.75%,
      rgba(48, 162, 25, 0.3) 13.71%,
      rgba(34, 73, 87, 0.225) 41.04%,
      rgba(86, 16, 126, 0.130677) 67%,
      rgba(0, 0, 0, 0) 89.85%
    ),
    linear-gradient(0deg, #0a0f0c, #0a0f0c);

  //DARK
  html.dark & {
    --build: url('/assets/dark/build.svg');
    --eco-spixi: url('/assets/dark/eco-spixi.svg');
    --efficiency: url('/assets/dark/efficiency.svg');
    --parnters: url('/assets/dark/partners.svg');
    --privacy: url('/assets/dark/privacy.svg');
    --spixi-eco: url('/assets/dark/spixi-eco.png');
    --spixi-uc: url('/assets/dark/spixi-uc.png');
    --why: url('/assets/dark/why.svg');
    --spixi-bg: url('/assets/dark/spixi-bg.png');
    --top-tech: url('/assets/dark/top-tech.svg');
    --ixi-currency: url('/assets/dark/ixi-currency.svg');
    --spixi-rotated: url('/assets/dark/spixi-rotate.png');
    --partnerships: url('/assets/dark/partnerships.svg');
    --hero-gradient: linear-gradient(113.05deg, #0a0e07 -0.14%, #02201e 46.25%);
    --tech-gradient: radial-gradient(
        173.13% 177.27% at 141.29% -38.75%,
        rgba(48, 162, 25, 0.3) 13.71%,
        rgba(34, 73, 87, 0.225) 41.04%,
        rgba(86, 16, 126, 0.130677) 67%,
        rgba(0, 0, 0, 0) 89.85%
      ),
      linear-gradient(0deg, #0a0f0c, #0a0f0c);
    --currency-gradient: radial-gradient(
        57.77% 138.74% at 7.69% 16.52%,
        rgba(229, 87, 232, 0.05) 0%,
        rgba(102, 87, 232, 0.1125) 35%,
        rgba(24, 107, 201, 0.1125) 84.5%
      ),
      linear-gradient(
        0deg,
        var(--colors-surface-01, #0a0f0c),
        var(--colors-surface-01, #0a0f0c)
      );
    --fading-border-horizontal: linear-gradient(
      90deg,
      #0a0f0c 0%,
      #555555 20.78%,
      #646464 77.68%,
      #0a0f0c 98.96%
    );
    --fading-border-vertical: linear-gradient(
      180deg,
      #0a0f0c 0%,
      #555555 20.25%,
      #646464 77.93%,
      #0a0f0c 98%
    );
    --cardGradient: var(--colors-surface-02);
    --cardGradient2: linear-gradient(
        112.75deg,
        #042c39 2.08%,
        #0f393d 51.72%,
        #092454 97.54%
      ),
      linear-gradient(
        0deg,
        var(--colors-surface-01, #0a0f0c),
        var(--colors-surface-01, #0a0f0c)
      );
    --sectionGradient: linear-gradient(112.75deg, #02161d 2.08%, #0d1109 68.42%),
      linear-gradient(
        0deg,
        var(--colors-surface-01, #0a0f0c),
        var(--colors-surface-01, #0a0f0c)
      );
    --resources-gradient: radial-gradient(
        173.13% 177.27% at 141.29% -38.75%,
        rgba(48, 162, 25, 0.3) 13.71%,
        rgba(34, 73, 87, 0.225) 41.04%,
        rgba(86, 16, 126, 0.130677) 67%,
        rgba(0, 0, 0, 0) 89.85%
      ),
      linear-gradient(0deg, #0a0f0c, #0a0f0c);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bodyLayout {
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.topRetro {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1249px;

  //@include mq('sm') {
  //  display: none;
  //}
}
