.page {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.techHero {
  padding: var(--spacing-super-xl) var(--spacing-md);
}

.notFoundSection {
  width: 100%;
  min-height: 800px;
  background: var(--colors-surface-01);

  .notFound {
    padding: 120px 16px;
  }
}
