@use '@styles/mixins' as *;

.sectionHeader {
  width: 66.6666%;
  flex: 0 0 66.6666%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
  color: var(--colors-text-01);
  justify-content: space-between;
  height: 100%;

  @include mq('sm') {
    width: 100%;
    flex: unset;
  }

  .ctaSection {
    width: 100%;
    margin-top: 28px;
    display: flex;
    gap: var(--spacing-xs);

    @include mq('md') {
      flex-direction: column;
    }
  }
}

.fullWidth {
  max-width: unset;
}

.inverseText {
  color: var(--colors-text-inverse);
}

.centerAll {
  align-items: center;
  text-align: center;

  @include mq('sm') {
    align-items: flex-start;
    text-align: unset;

    .ctaSection {
      justify-content: flex-start;
    }
  }

  .ctaSection {
    justify-content: center;
  }
}

.slideUp {
  > * {
    animation: fadeInUp 0.5s ease-out;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
