@use '@styles/mixins' as *;

.partnershipSection {
  width: 100%;
  background: var(--colors-surface-01);
  scroll-margin-top: var(--spacing-super-md);

  .partnership {
    padding: var(--spacing-xxl) var(--spacing-md);
    padding-bottom: 120px;

    @include mq('sm') {
      padding: 100px var(--spacing-sm);
    }

    .innerContent {
      padding: var(--spacing-super) var(--spacing-xl);
      border-radius: var(--corner-radius-xxl);
      background: var(--sectionGradient);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;

      .partnerImages {
        display: flex;
        gap: 64px;
        align-items: center;
        justify-items: center;
      }
    }
  }
}
