@use '@styles/mixins' as *;

.partnershipSection {
  width: 100%;
  background: var(--colors-surface-01);
  scroll-margin-top: var(--spacing-super-md);

  .partnership {
    padding: var(--spacing-xxl) var(--spacing-md);
    padding-bottom: 120px;

    @include mq('sm') {
      padding: 100px var(--spacing-sm);
    }

    .innerContent {
      padding: var(--spacing-super) var(--spacing-xl);
      border-radius: var(--corner-radius-xxl);
      background: var(--partnerships), var(--sectionGradient);
      background-repeat: no-repeat;
      background-position: top left;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;

      @include mq('sm') {
        padding: 40px var(--spacing-md);
      }

      .partnerImages {
        width: 100%;
        display: flex;
        gap: 64px;
        align-items: center;
        justify-content: center;

        @include mq('sm') {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 24px;

          img {
            max-width: 70%;
          }
        }
      }
    }
  }
}
