@use '@styles/mixins' as *;

.infoContainer {
  width: 100%;
  padding: var(--spacing-3xl) var(--spacing-xxl);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-3xl);
  position: relative;

  @include mq('sm') {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--fading-border-vertical);

    :has(.inverse) & {
      background: linear-gradient(
        180deg,
        #0a0f0c 0%,
        #555555 20.25%,
        #646464 77.93%,
        #0a0f0c 98%
      );
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  .singleInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-md);

    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &.inverse {
    .singleInfo svg {
      color: var(--colors-icon-inverse);
    }
  }
}
