@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ecoGetInvolvedSection {
  width: 100%;
  background: var(--colors-surface-01);

  .ecoGetInvolved {
    padding: var(--spacing-super-xxl) var(--spacing-md);

    .topRetro {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1249px;
    }

    .socialCards {
      width: 100%;
      display: flex;
      gap: 32px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: var(--spacing-super-xxl);

      .customCard {
        max-width: 180px;
        max-height: 156px;
        min-height: unset;

        div[class*='content'] {
          h3 {
            @include label-lg;
          }

          div[class*='icon'] {
            border: 1px solid var(--colors-outline-02);
            border-radius: 99px;
            padding: 8px;
            background: var(--colors-surface-inverse);
          }
        }
      }
    }

    .bottomCards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      .colSpan2 {
        grid-column: span 2;
      }

      .marginBot {
        margin-bottom: 16px;
      }
    }
  }
}

.newFeaturesCardGradient {
  background:
    radial-gradient(
        117.99% 141.4% at 128.55% 44.32%,
        rgba(44, 234, 27, 0.4) 0%,
        rgba(159, 63, 243, 0.4) 35.53%,
        rgba(43, 244, 234, 0.4) 85.5%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        119.7% 137.67% at -10.73% 113.07%,
        #ffffff 0%,
        rgba(255, 255, 255, 0.0890915) 39.41%,
        rgba(255, 255, 255, 0) 53.09%,
        #ffffff 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
