@use '@styles/mixins' as *;
@use '@styles/typograhphy' as *;

.ecoGetInvolvedSection {
  width: 100%;
  background: var(--colors-surface-01);

  .ecoGetInvolved {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: var(--spacing-super-xxl) var(--spacing-md);

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .communityCard {
      background: var(--cardGradient2);
      padding: var(--spacing-super) var(--spacing-md);
      border-radius: var(--corner-radius-xxl);
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mq('sm') {
        padding: var(--spacing-xxl) var(--spacing-md);
      }

      .socialCards {
        width: 100%;
        display: flex;
        gap: 32px;
        margin-bottom: 24px;

        @include mq('md') {
          flex-wrap: wrap;
          justify-content: center;
        }

        .customCard {
          min-height: 156px;

          &:hover {
            background: var(--cardGradient);
          }

          @include mq('sm') {
            max-width: unset;
          }

          .title {
            @include label-lg;
          }

          div[class*='content'] {
            div[class*='icon'] {
              border: 1px solid var(--colors-outline-02);
              border-radius: 99px;
              padding: 8px;
              background: var(--colors-surface-inverse);
            }
          }
        }
      }
    }

    .bottomCards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      .colSpan2 {
        min-height: 511px;
        grid-column: span 2;

        @include mq('sm') {
          grid-column: unset;
        }
      }

      .marginBot {
        margin-bottom: 16px;
      }
    }
  }
}

.minHeight {
  min-height: 349px;

  @include mq('sm') {
    min-height: unset;
  }
}

.newFeaturesCardGradient {
  background: var(--cardGradient2);
}
