@use '@styles/mixins' as *;

.partnersSection {
  width: 100%;
  background: var(--partners-gradient);
  border-bottom: 1px solid;
  border-color: var(--colors-outline-action-hover);

  .partners {
    padding: var(--spacing-super-xxl) var(--spacing-md) var(--spacing-super-xl)
      var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    @include mq('md') {
      padding-top: 80px;
      gap: 40px;
    }

    .buildTogether {
      align-items: center;
      text-align: center;

      > div {
        justify-content: center;
        align-items: center;
      }
    }

    .partnerImages {
      padding: 0 40px 80px 40px;
      border-bottom: 2px solid;
      border-color: var(--colors-outline-action-hover);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 64px;
      align-items: center;
      justify-items: center;

      @include mq('sm') {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
      }
    }
  }
}
