@use '@styles/mixins' as *;

.contributeSection {
  width: 100%;
  background: var(--colors-surface-inverse);
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;

  .contribute {
    padding: var(--spacing-super-lg) var(--spacing-md);
    display: flex;
    color: var(--colors-text-inverse);
    gap: 40px;
    justify-content: space-between;
    background-image: url('/assets/other/contribute.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
      flex-direction: column;
    }

    .header {
      width: 100%;
      flex: unset;
    }

    .info {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);

      .singleInfo {
        flex-direction: column;

        div:last-child {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
    }
  }
}
