@use '@styles/mixins' as *;

.whyIxianSection {
  width: 100%;
  background: var(--colors-surface-02);

  .whyIxianWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super);
    padding: var(--spacing-super-lg) var(--spacing-md);

    .offerInfo {
      width: 100%;
      padding: var(--spacing-3xl) var(--spacing-xxl);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-3xl);
      position: relative;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background: var(--fading-border-vertical);
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }

      .singleInfo {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: var(--spacing-md);
      }
    }

    .keyResources {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xl);

      .infoItems {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-xxl);

        @include mq('md') {
          grid-template-columns: repeat(2, 1fr);
        }

        @include mq('sm') {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
