@use '@styles/mixins' as *;

.ecosystemSection {
  width: 100%;
  background: var(--colors-surface-01);

  .ecosystemWrapper {
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super-lg);

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
    }

    .bottomCards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      .rowSpan2 {
        grid-row: span 2;

        .ecoBigCardSectionHeader {
          @include mq('sm') {
            justify-content: unset;
            gap: 12px;
          }
        }
      }
    }
  }
}

.minHeight {
  min-height: 264px;
}

.newFeaturesCardGradient {
  background: var(--cardGradient2);
}
