@use '@styles/mixins' as *;

.ecosystemSection {
  width: 100%;
  background: var(--colors-surface-01);

  .ecosystemWrapper {
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-super-lg);

    .topRetro {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1249px;
    }

    .bottomCards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      .rowSpan2 {
        grid-row: span 2;
      }
    }
  }
}

.minHeight {
  min-height: 264px;
}

.newFeaturesCardGradient {
  background:
    radial-gradient(
        117.99% 141.4% at 128.55% 44.32%,
        rgba(44, 234, 27, 0.4) 0%,
        rgba(159, 63, 243, 0.4) 35.53%,
        rgba(43, 244, 234, 0.4) 85.5%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        119.7% 137.67% at -10.73% 113.07%,
        #ffffff 0%,
        rgba(255, 255, 255, 0.0890915) 39.41%,
        rgba(255, 255, 255, 0) 53.09%,
        #ffffff 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
