@use '@styles/mixins' as *;

.ecosystemSection {
  width: 100%;
  background: var(--gradient-bg-2);

  .ecosystemWrapper {
    padding: var(--spacing-super-xl) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);

    .topRetro {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1249px;
    }

    .offerInfo {
      width: 100%;
      padding: var(--spacing-3xl) var(--spacing-xxl);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-3xl);
      position: relative;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background: var(--fading-border-vertical);
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }

      .singleInfo {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: var(--spacing-md);
      }
    }

    .bottomCards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @include mq('sm') {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }

      .rowSpan2 {
        grid-row: span 2;
      }

      .bigCardBody {
        max-width: 360px;
      }
    }

    .spixiHalfImg {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
  }
}

.newFeaturesCardGradient {
  background:
    radial-gradient(
        117.99% 141.4% at 128.55% 44.32%,
        rgba(44, 234, 27, 0.4) 0%,
        rgba(159, 63, 243, 0.4) 35.53%,
        rgba(43, 244, 234, 0.4) 85.5%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        119.7% 137.67% at -10.73% 113.07%,
        #ffffff 0%,
        rgba(255, 255, 255, 0.0890915) 39.41%,
        rgba(255, 255, 255, 0) 53.09%,
        #ffffff 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
