@use '@styles/mixins' as *;

.landingFeaturesSection {
  width: 100%;
  background: var(--colors-surface-01);

  .landingFeatures {
    padding: 100px 16px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .landingFeaturesGridSingleCard {
      overflow: hidden;
      border-radius: var(--corner-radius-xxl);
      padding: var(--spacing-super) var(--spacing-xl);
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include mq('md') {
        gap: 40px;
      }

      .cardsGrid {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('md') {
          flex-wrap: wrap;
        }
      }
    }
  }
}

.card1 {
  background: radial-gradient(
      57.77% 138.74% at 7.69% 16.52%,
      rgba(87, 188, 232, 0.2) 0%,
      rgba(87, 188, 232, 0.45) 35%,
      rgba(24, 201, 139, 0.45) 84.5%
    ),
    linear-gradient(
      0deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
}

.card2 {
  background: radial-gradient(
      50% 120% at 80% 20%,
      rgba(87, 188, 232, 0.2) 0%,
      rgba(87, 188, 232, 0.45) 40%,
      rgba(24, 201, 139, 0.45) 90%
    ),
    linear-gradient(
      45deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
}

.card3 {
  background: radial-gradient(
      80% 100% at 30% 30%,
      rgba(87, 188, 232, 0.2) 0%,
      rgba(87, 188, 232, 0.45) 50%,
      rgba(24, 201, 139, 0.45) 100%
    ),
    linear-gradient(
      90deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
}
