@use '@styles/mixins' as *;

.landingFeaturesSection {
  width: 100%;
  background: var(--colors-surface-01);

  .landingFeatures {
    padding: 100px 16px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .landingFeaturesGridSingleCard {
      overflow: hidden;
      border-radius: var(--corner-radius-xxl);
      padding: var(--spacing-super) var(--spacing-xl);
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include mq('md') {
        gap: 40px;
      }

      .cardsGrid {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('md') {
          flex-wrap: wrap;
        }
      }
    }
  }
}

.openSourceCard {
  width: 100%;
  background: linear-gradient(0deg, #0a0f0c, #0a0f0c),
    radial-gradient(
      173.13% 177.27% at 141.29% -38.75%,
      rgba(48, 162, 25, 0.3) 13.71%,
      rgba(34, 73, 87, 0.225) 41.04%,
      rgba(86, 16, 126, 0.130677) 67%,
      rgba(0, 0, 0, 0) 89.85%
    );
  border-radius: var(--corner-radius-xxl);
  padding: var(--spacing-xxl) var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  gap: 12px;

  @include mq('md') {
    flex-direction: column;
    gap: 24px;
  }

  .leftSide {
    display: flex;
    gap: 24px;

    > svg {
      color: var(--colors-icon-01);
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: var(--colors-text-inverse);
    }
  }
}

.card1 {
  background: radial-gradient(
      57.77% 138.74% at 7.69% 16.52%,
      rgba(87, 188, 232, 0.2) 0%,
      rgba(87, 188, 232, 0.45) 35%,
      rgba(24, 201, 139, 0.45) 84.5%
    ),
    linear-gradient(
      0deg,
      var(--colors-surface-01, #fbfcfb),
      var(--colors-surface-01, #fbfcfb)
    );
}

.card2 {
  background: radial-gradient(
      117.99% 141.4% at 128.55% 44.32%,
      rgba(44, 234, 27, 0.44) 0%,
      rgba(74, 18, 122, 0.44) 35.53%,
      rgba(43, 244, 234, 0.44) 85.5%
    ),
    radial-gradient(
      119.7% 137.67% at -10.73% 113.07%,
      #ffffff 0%,
      rgba(255, 255, 255, 0.0890915) 39.41%,
      rgba(255, 255, 255, 0) 53.09%,
      #ffffff 100%
    ),
    linear-gradient(
      0deg,
      var(--colors-surface-02, #f3f7f4),
      var(--colors-surface-02, #f3f7f4)
    );
}

.card3 {
  background: radial-gradient(
      125.41% 143.7% at -3.54% -8.8%,
      rgba(0, 0, 0, 0.32) 0%,
      rgba(19, 105, 129, 0.4096) 22.5%,
      rgba(10, 79, 108, 0.48) 47.5%,
      rgba(22, 10, 33, 0.551818) 80%,
      rgba(27, 155, 125, 0.64) 100%
    ),
    linear-gradient(0deg, #313934, #313934);
  color: red !important;

  p {
    color: var(--colors-text-inverse);
  }

  .cardsGrid {
    > div {
      background: var(--colors-surface-inverse);
      border: none;

      svg {
        color: var(--colors-icon-inverse);
      }

      p,
      h3 {
        color: var(--colors-text-inverse) !important;
      }
    }
  }
}
