@use '@styles/mixins' as *;

.landingFeaturesSection {
  width: 100%;
  background: var(--colors-surface-01);

  .landingFeatures {
    padding: var(--spacing-super-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include mq('sm') {
      padding: 64px var(--spacing-sm);
      gap: 64px;
    }

    .landingFeaturesGridSingleCard {
      overflow: hidden;
      border-radius: var(--corner-radius-xxl);
      padding: var(--spacing-super) var(--spacing-xl);
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include mq('md') {
        gap: 40px;
        padding: 40px 16px;
      }

      .cardsGrid {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('md') {
          flex-wrap: wrap;
        }
      }
    }
  }
}

.card1 {
  padding: 0 !important;
  background-image: var(--build);
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: unset !important;

  @include mq('sm') {
    padding-bottom: 0 !important;
  }
}

.card2 {
  background: var(--efficiency), var(--currency-gradient);
  background-repeat: no-repeat;
  background-position: right top;

  @include mq('sm') {
    background-size: contain;
  }
}

.card3 {
  background-image: var(--privacy);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0 8px !important;
  border-radius: unset !important;

  @include mq('sm') {
    background-size: contain;
    background-position: 140px -100px;
  }
}
