@use '@styles/mixins' as *;

.landingFeaturesSection {
  width: 100%;
  background: var(--colors-surface-01);

  .landingFeatures {
    padding: var(--spacing-super-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: 120px;

    .poweredByIxianArticleCard {
      border-radius: var(--corner-radius-xl);
      padding: var(--spacing-super-lg) var(--spacing-xl);
      background: linear-gradient(
        112.75deg,
        #366d66 2.08%,
        #0a6d8f 34.54%,
        #3e126e 97.54%
      );
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    .landingFeaturesGridSingleCard {
      overflow: hidden;
      border-radius: var(--corner-radius-xxl);
      padding: var(--spacing-super) var(--spacing-xl);
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include mq('md') {
        gap: 40px;
      }

      .cardsGrid {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mq('md') {
          flex-wrap: wrap;
        }
      }
    }
  }
}

.card1 {
  padding-top: 0 !important;
  background: var(--colors-surface-01);
}

.card2 {
  background: var(--cardGradient);
}

.card3 {
  background: var(--colors-surface-01);
}
