.featuresSection {
  width: 100%;
  background: var(--colors-surface-01);
  border-bottom: 1px solid var(--colors-outline-02);

  .featuresWrapper {
    padding: 120px var(--spacing-md);

    .topRetro {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1249px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-super);

      .featCards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: var(--spacing-xxl);

        .illustration {
          position: absolute;
          top: 0;
          z-index: 0;
        }

        .colSpan2 {
          grid-column: span 2;
        }

        .bigCardCustom {
          grid-column: span 2;
          grid-row: span 2;
          background: radial-gradient(
              58.24% 69.73% at 96.21% 14.11%,
              rgba(51, 114, 45, 0.1) 0%,
              rgba(159, 63, 243, 0.1) 28.87%,
              rgba(43, 244, 234, 0.1) 65.51%,
              rgba(251, 252, 251, 0.1) 100%
            ),
            var(--colors-surface-02);
        }
      }
    }
  }
}
