@use '@styles/mixins' as *;

.openSourceCardSection {
  width: 100%;
  background: linear-gradient(0deg, #0a0f0c, #0a0f0c),
    radial-gradient(
      173.13% 177.27% at 141.29% -38.75%,
      rgba(48, 162, 25, 0.3) 13.71%,
      rgba(34, 73, 87, 0.225) 41.04%,
      rgba(86, 16, 126, 0.130677) 67%,
      rgba(0, 0, 0, 0) 89.85%
    );
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, #6ee17f, #a546e4, #4d7df6) 1;

  .openSourceCard {
    width: 100%;
    padding: var(--spacing-xxl) var(--spacing-xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    button {
      border-color: var(--color-primary-200);
      color: var(--color-primary-200);
      &:hover {
        background: var(--color-neutral-900);
      }
    }

    @include mq('md') {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    .leftSide {
      display: flex;
      gap: 24px;

      @include mq('sm') {
        flex-direction: column;
      }

      > svg {
        color: #c0c8c4;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: var(--colors-text-inverse);

        .subtitle {
          width: 100%;
          max-width: 612px;
        }
      }
    }
  }
}
