@use '@styles/mixins' as *;

.openSourceCardSection {
  width: 100%;
  background: var(--color-neutral-1000);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: color-mix(
    in srgb,
    var(--colors-outline-action-hover) 15%,
    transparent
  );

  .openSourceCard {
    width: 100%;
    padding: var(--spacing-xxl) var(--spacing-xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    button {
      border-color: var(--color-primary-200);
      color: var(--color-primary-200);
      &:hover {
        background: var(--color-neutral-900);
      }
    }

    @include mq('md') {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    .leftSide {
      display: flex;
      gap: 24px;

      @include mq('sm') {
        flex-direction: column;

        > svg {
          max-width: 32px;
          max-height: 32px;
        }
      }

      > svg {
        color: #c0c8c4;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: var(--colors-text-inverse);

        .subtitle {
          width: 100%;
          max-width: 612px;
        }
      }
    }
  }
}
